.slick-slider
{
    position: relative;

    width: 900px;

    display: grid;
    column-gap: 10px;
}

.slick-prev {

    line-height: 0;
    position: absolute;
    top: 40%;
    left: -5%;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev::before {
    display: block;
  content: ' ';
  background-image: url('./../../assets/Icons/previous-slide.svg');
  background-size: 40px 60px;
  height: 60px;
  width: 40px;
  background-repeat: no-repeat;
}

.slick-next {
    display: block;
    line-height: 0;
    position: absolute;
    top: 40%;
    left: 118%;
    
    width: 30px;
    height: 30px;
    padding: 0;
    transform: translate(-50%, 0%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-next::before {
    display: block;
    content: '';
    background-image: url('./../../assets/Icons/next-slide.svg');
    background-size: 40px 60px;
    rotate: 180deg;
    height: 60px;
    width: 40px;
    background-repeat: no-repeat;
  }


.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    width: 1040px;
    
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}